body {
    box-sizing: border-box;
}

.container {
    background-color: rgb(0, 0, 0);
    display: flex;
    
    flex-wrap: wrap;
    margin: auto;
    width: 960px;
    height: 960px;
    /* gap: 5px; */
    
}

.boxes {
    /* width: 16px;
    height: 16px;
    background-color: rgb(0, 0, 0);
    padding: 2px; */
    box-sizing: border-box;
    border: 1px solid rgb(133, 131, 131);
    
}


.modified {
    background-color: aquamarine;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* margin-bottom: 30px; */
    /* width: 30px; */

}

.btn, .reset {
    display: block;
    /* margin: auto; */
    background-color: rgb(250, 236, 157);
    width: 100px;
    height: 30px;
    margin: 20px 0;
    font-weight: 700;
    border-radius: 10px;
}